url = "/"
layout = "default"
title = "Úvod"

[collection slider]
handle = "Slider\Slide"

[global slider_settings]
handle = "Slider\Settings"

[collection partners]
handle = "Partners\Partner"

[collection portfolio_categories]
handle = "Portfolio\Category"
==
{% if slider.getIterator().count %}
    <div class="{#container-fluid#}"> {# uncomment while slider with horizontal margin #}
        <div class="slider-swiper-wrapper position-relative {#container-fluid#}"> {# uncomment while slider with horizontal margin #}
            {% partial "_swiper/slider" slides=slider settings=slider_settings %}

            <div class="gradient position-absolute start-0 top-0 w-100 h-100"></div>

            <div class="info position-absolute start-50 translate-middle-x py-4 px-5">
                <p class="title fw-bold text-center text-white fs-1 mb-0">
                    SK Rychnovek
                </p>

{#                <p class="heading h1 text-center mb-0 text-white">#}
{#                    Nějaký popis#}
{#                </p>#}
            </div>
        </div>
    </div>
{% endif %}

{% component "quicknews" %}

<div class="container-flush py-5" id="rezervace">
    <div class="container-lg pt-xl-4">
        <h2 class="h1 text-center mb-4">
            Rezervace
        </h2>

        <p class="text-center mb-5">
            Rezervace jsou povoleny jen pro registrované zákazníky. Pro vytvoření Vašeho účtu kontaktujte p. Jiřího
            Kábrta na telefonním čísle <a href="tel: +420 724 618 420">724 618 420</a>.
        </p>

        <div class="reenio-iframe" data-size="auto"></div>

        <script src="https://reenio.cz/cs/GE3DSOJX/widget-iframe.js" async defer></script>
    </div>
</div>

<div class="container-fluid pt-5 pb-4 ps-md-0 pe-xl-0 overflow-hidden" id="o-nas">
    <div class="container-fluid ps-md-0 pe-xl-0">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col d-flex col-md-5 col-xl pe-xl-0">
                <img src="{{ 'assets/images/about.jpg'|theme }}" alt="O nás" class="img-fluid rounded-end-3 object-fit-md-cover">
            </div>

            <div class="col mt-4 col-md-7 mt-md-0 d-md-flex align-items-md-center col-xl ps-xl-0">
                <div class="my-md-4 mx-xl-5 px-xxl-5">
                    <h2 class="h1 pb-2 mb-3">
                        SK Rychnovek
                    </h2>

                    <p>
                        Prvopočátek vzniku sportovního klubu se dá datovat do doby, když v roce 1964 bylo svépomocí
                        vybudováno provizorní hřiště na poli pana Václava Láška v místě pod zastávkou ČSD v Rychnovku.
                    </p>

                    <p>
                        Oficiálně klub vznikl po 34 letech v roce 1998, kdy přišel Karel Červinka s nápadem vybudovat
                        nové hřiště na volejbal. Postupně se k jeho nápadu připojili další a plány na areál dostávaly
                        reálnou podobu. Za finanční pomoci Obecního úřadu, v čele se starostou Miroslavem Hanušem, byl
                        místo provizorního hřiště vybudován sportovní areál. Výstavbu dvou antukových kurtů provedla
                        Firma Linhart ze Staré Boleslavi, nákladem 700 000,- Kč. V areálu byla vystavěna dvě antuková
                        hřiště na tenis, jedno hřiště vybudované svépomocí na volejbal a nohejbal a jedno hřiště na
                        malou kopanou. <br>
                        K zajištění provozu byla přistavena mobilní buňka a chemické WC. Za velké podpory jednatele
                        Luďka Žižky, byl 17.července 1998 „Sportovní klub Rychnovek“ zaregistrován. Dne 2. srpna 1998
                        se konala ustavující schůze "Sportovního klubu Rychnovek", kde byli zvoleni členové výkonného
                        výboru a dne 8. srpna byl předsedou klubu zvolen Zdeněk Prokop, místopředsedou Josef Khol,
                        hospodářkou Blanka Fleková a správcem areálu Josef Lášek.  Dne 5. září 1998 v 8.00 hod. zahájil
                        sportovní klub svoji činnost.
                    </p>

                    <p class="mb-0 mt-5">
                        <a href="{{ 'page'|page({fullslug: 'o-nas'}) }}" class="btn btn-primary">
                            Více o nás
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5" id="partners">
    <div class="container-lg pt-xl-4">
        <h2 class="h1 text-center mb-4">
            Partneři
        </h2>

        <div class="swiper partners-swiper partners">
            <div class="swiper-wrapper">
                {% for partner in partners %}
                    <div class="swiper-slide">
                        {% if partner.link %}
                            <a href="{{ partner.link }}" target="_blank">
                        {% endif %}
                                <img src="{{ partner.logo.path }}" alt="{{ partner.logo.description }}" class="img-fluid">
                        {% if partner.link %}
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

{#            <div class="swiper-scrollbar"></div>#}
        </div>
    </div>
</div>
